DATABASE_URL ="postgresql://user:password@localhost:port/database_name"
REDIS_URL ="redis://localhost:port"

# MPESA CREDENTIALS
MPESA_TOKEN_URL="https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials"
MPESA_CONSUMER_KEY="YOUR CONSUMER KEY FROM DARAJA"
MPESA_CONSUMER_SECRET="YOUR CONSUMER SECRET FROM DARAJA"

MPESA_SHORTCODE="YOUR SHORT CODE FROM DARAJA"
MPESA_PASSKEY="YOUR PASSKEY FROM DARAJA"
MPESA_STK_URL="https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest"

MPESA_CALLBACK_URL="YOUR CALLBACK URL/mpesa/callback"

MPESA_SETTLEMENT_ACCOUNT_ID="YOUR MPESA ACCOUNT ID FROM YOUR CREATED FROM YOUR DATABASE"